<h2>User info</h2>
<%= attachment_image_tag @user, :profile_image fallback: "no_image.jpg" %>
<table>
	<tbody>
		<tr>
			<th>name</th>
			<th><%= @user.name %></th>
		</tr>
		<tr>
			<th>introduction</th>
			<th></th>
		</tr>
	</tbody>
</table>
<span class="glyphicon glyphicon-wrench" aria-hidden="true"><%= link_to edit_user_path(@user) %></span>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
	<% if @book.errors.any? %>
		<%= @book.errors.count %>件のエラーが発生しました
		<% @book.errors.full_messages.each do |message| %>
      		<%= message %>
  		<% end %>
	<% end %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :body, "Option" %>
	<%= f.text_area :body %>
	<%= f.submit "Create Book" %>
<% end %>

<h2>Books</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
		</tr>
		<tr>
			<th>Option</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
			<tr>
				<td><%= book.title %></td>
			</tr>
			<tr>
				<td><%= book.body %></td>
			</tr>
		<% end %>
	</tbody>
</table>